<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>879137712995-64re0s6dcc3ktmokrrv269bj0nuhspru.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.879137712995-64re0s6dcc3ktmokrrv269bj0nuhspru</string>
	<key>API_KEY</key>
	<string>AIzaSyBex8YgoqBvYAFt4ZApu1-BnOWCCR2hbps</string>
	<key>GCM_SENDER_ID</key>
	<string>879137712995</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lidyagold.app</string>
	<key>PROJECT_ID</key>
	<string>lidya-7b218</string>
	<key>STORAGE_BUCKET</key>
	<string>lidya-7b218.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:879137712995:ios:a0507ea71b89ddd9edc156</string>
</dict>
</plist>